#clients-slider{
    padding: 60px 0;
    .container-fluid{
        .container{
            .row{
            }
        }
    }
    @media (max-width: 992px){
        img{
            width: 80% !important;
        }
        .cs-display{
            display: none !important;
        }
    }
}